<header class="site-header">
  <div class="site-indentity">
    <h1> <a href="#">Blog App</a></h1>
  </div>
  <nav class="site-navigation">
    <ul class="nav">
      <li> <a href="/">Create Blog entrance</a></li>
      <li> <a href="/home">View All blogs</a></li>
    </ul>
  </nav>
</header>

