<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Random Cocktail Generator</title>
</head>
<body>
  <h1>
    Random Cocktail Generator

    <!-- Display the generated cocktail name here -->
    <h2>Your Cocktail: </h2>

    <!-- Display the generated cocktail ingredients here -->
    <ul>
      <!-- List the ingredients here -->
    </ul>
    <!-- Button to generate a new cocktail -->  
     <button type="submit" > Generate Random Cocktail</button>
  </h1>
</body>
</html>