<div class="searchBar">
  <div class="container">
    <form action="/search" class="searh__form" role="search" method="POST" role="search">
      <input
        type="search"
        aria-label="Search"
        id="searchbar"
        name="searchTerm"
        placeholder="Search the site..."
      />
    </form>
    <div id="searchClose">Close</div>
  </div>
</div>
