<div class="author">
  <h1 class="author__heading">Hi, I'm Gabriel.</h1>
  <p class="author__body">Web Dev and IA Developer</p>
</div>

<img src="/img/hero-image.jpg" alt="Computing" class="hero-image">

<section class="articles">
  <h2 class="articles__heading">LAtest Posts</h2>

  <ul class="articel-ul">
    <li>
      <a href="#">
        <span>Post Title</span>
        <span class="article-list__date">Date</span>
      </a>
    </li>
  </ul>

  <a href="#" class="pagination">&lt; View Older Posts</a>
</section>
